.todocard {
    background: white;
    min-height: 350px;
    width: 650px;
    padding: 55px;
    border-radius: 5px;

    &-list {
        height: 240px;
        overflow-x: auto;
    }


    @media screen and (max-width: 680px) {
        max-width: 400px;
        padding: 20px;
    }

    @media screen and (max-width: 415px) {
        max-width: 270px;
        padding: 15px;
    }
}